<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <div th:replace="allPagesTemplates :: all_pages_head_data"></div>
    <link rel="stylesheet" th:href="@{/csssource/item_list_stylesheet.css}">
    <script th:src="@{/jssource/utils.js}"></script>
    <script th:src="@{/jssource/product_edit.js}"></script>
    <script th:src="@{/htmlhelpers/ckeditor/ckeditor.js}"></script>

</head>
<body>
<div th:replace="allPagesTemplates :: navBar"></div>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" th:src="${product.main_image}">
        </div>
    </div>
<!--    <a class="carousel-control-prev" href="#carouselExampleFade" role="button"-->
<!--       data-slide="prev">-->
<!--        <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--        <span class="sr-only">Предыдущая</span>-->
<!--    </a>-->
<!--    <a class="carousel-control-next" href="#carouselExampleFade" role="button"-->
<!--       data-slide="next">-->
<!--        <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--        <span class="sr-only">Следующая</span>-->
<!--    </a>-->

</div>

<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-4">
                <h2>ID : <b th:text="${product.getId()}"></b></h2>
            </div>
            <div class="col-sm-8">
                <a th:href="@{https://my.prom.ua/cms/product/edit/{id}(id=${product.getId()})}"
                   class="btn"><i class="material-icons">visibility</i>
                    <span>Prom.ua Редактировать</span></a>
                <a href="#" class="btn btn-add"><i class="material-icons">&#xe147;</i>
                    <span>Добавить фото</span></a>
<!--                <a th:href="@{https://my.prom.ua/cms/product/edit/{id}(id=${product.getId()})}" class="btn btn-primary"><i-->
<!--                        class="material-icons">&#xE863;</i>-->
<!--                    <span>Редактировать на Prom.ua</span></a>-->
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="control-group" id="fields">
            <div class="controls">
                <form th:action="@{/products/{id}/edit/submit(id=${product.getId()})}" th:object="${product}" method="post" role="form" autocomplete="off">

                    <input hidden
                           type="text"
                    th:field="*{id}">


                    <div class="form-row">
                        <div class="form-group col-md-6">

                            <div class="form-row">
                                <div class="form-group col-md-12"><label th:for="*{name}">Ссылка для валидации:</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            th:field="*{urlForValidating}">
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Сохранить</button>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="form-row">
                                <div class="form-group col-md-12"><label th:for="*{cssQueryForValidating}">Ссылка для валидации:</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            th:field="*{cssQueryForValidating}">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>

</body>
</html>